@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    width: 100%;
    height: 15rem;
    background-color: #d0cecf;
}

.sidebar {
    width: 28%;
    height: 100%;
    float: left;
    background-color: #d0cecf;
    left: 0;
    top: 0;
    bottom: 0;
}

.collection {
    margin-bottom: 16rem;
}

div.name {
    background-color: rgba(0, 0, 0, 0.56);
    position: absolute;
    top: 10.7rem;
    width: 100%;
}

.name {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

.color {
    color: #ff9645;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    border-bottom-style: solid;
    border-bottom-color: #505050;
}

.section {
    padding: 0.5rem 1.5rem;
}

#info>.title {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    border-bottom-style: none;
    margin-top: 10px;
}

.img>img {
    width: 28%;
    height: 15rem;
    object-fit: cover;
    overflow: hidden;
}

.link {
    text-decoration: underline;
}

.main {
    margin-left: 28%;
    top: 2rem;
    padding: 1rem;
    padding-bottom: 0rem;
}

section {
    padding: 0rem 3rem;
}

section#Summary {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    margin-left: 28%;
}

section:nth-last-child(1) {
    padding-bottom: 0;
}

section#SkillHighlights>ul {
    height: 5rem;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}


section>.container {
    padding: 1.5rem 0rem;
}

.job-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.job-company {
    font-size: 1rem;
    font-weight: bold;
}

.normal {
    font-weight: 400;
    font-size: 1rem;
}